:root {
    --white: #FFFFFF;
    --black: #212121;
    --primary: #FFC107;
    --secondary: #0097A7;
    --grey: #757575;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem; /* 1rem = 10px */
}

.title {
    text-align: center;
    font-size: 3.8rem;
    color: var(--primary);
}

.title span {
    font-size: 2rem;
}