:root {
    --white: #FFFFFF;
    --black: #212121;
    --primary: #FFC107;
    --secondary: #0097A7;
    --grey: #757575;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
}

.title {
    text-align: center;
    font-size: 3.8rem;
}

.title span {
    font-size: 2rem;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.main-nav a:hover {
    background-color: var(--primary);
    color: var(--black);
}

.nav-bg {
    background-color: var(--secondary);
}

@media (min-width: 480px) {

}
